*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    background-image: linear-gradient(120deg, lightblue, violet);
    background-size: cover;
}

header{
    line-height: 10px;
    letter-spacing: 1px;
    margin: 50px;
}

p, label{
    margin-bottom: 10px;
}

label + input{
    margin-bottom: 10px;
}

#survey-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: left;
    background-color: springgreen;
    padding: 20px;   
    font-size: 17px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-weight: bold;
    color: royalblue;
}

p~label{
    color: lemonchiffon;
}


.form-element{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.checkbox{
    margin-right: 10px;
}

input, select, textarea{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px; 
    border: none;
    outline: none;
}

textarea{
    height: 100px;
}

#submit{
    background-color: crimson;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 10px; 
    border-radius: 10px;
    color: ivory;
    cursor: pointer;
}